body{
	background-image: linear-gradient(40deg, #f2e9e4 0%, #f4f3ee 100%);
	background-repeat: no-repeat;
	background-size: cover;
}

.main-container{
	position: relative;
	text-align: center;
}

.main-img{
	display: block;
	width: 100%;
}

.header{
	position: absolute;
	top: 50%;
 	left: 50%;
  	transform: translate(-50%, -50%);
}

.break{
	width:70%;
	border: 0;
	margin-top: 5%;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.search-color{
	border: 1px solid #463f3a;
	color:#f4f3ee;
}

.search-color:hover{
	background-color: #463f3a;;
	color: white;
}

.container{
	margin-top: 2em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card{
	/*flex-basis: calc(40% - 2 * 40px); */
	flex-basis: calc(35% - 2 * 20px);
	margin-top:1em;
	margin-bottom: 1rem;
	border:none;
	border-radius: 1em;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
  cursor: pointer;
}

.header{
	color:white;
}

#title{
	height: 4em;
	text-align: center;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	padding: 1.7rem 1rem;
	margin: 0 0 2rem 0;
	font-size: 1.5rem;
	background-image: linear-gradient(120deg, #f4f3ee 0%, #e0afa0 100%);
}

p{
	padding: 0 2.5rem 2.5rem;
  	margin: 0;
}
