body{
	background-color: #f4f3ee;
}

.btn-login{
	background-color: #e0afa0;
	border-radius: 50px;
	padding: 6px 40px;
	border: 2px solid #e0afa0;
	box-shadow: 0 4px 8px 0 rgba(0.1, 0.1, 0.1, 0.1);
}

.btn-login:hover{
	cursor: pointer;
	border-color: #D09886;
	background-color: #D09886;
}

.foot-text{
	font-size: 16px;
}

#txt-remember{
	font-size: 17px;
}

.card{
	border:none;
}

.card2{
	border-radius: 0;
	border-top-right-radius:0.3em;
	border-bottom-right-radius:0.3em;
	width: 65%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-image: url("https://actinginlondon.co.uk/wp-content/uploads/2016/06/Why-Actors-Should-Get-Into-Filmmaking.jpg");
}