.card2-2{
	border-radius: 0;
	border-top-right-radius:0.3em;
	border-bottom-right-radius:0.3em;
	width: 55%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
	background-image: url("https://image.freepik.com/free-photo/an-elevated-view-of-clapperboard-film-reels-film-strips-and-camcorder-on-blue-wooden-backdrop_23-2148188134.jpg");
}